/* Mengatur tampilan dasar navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #2c2c54;
    color: #fff;
    height: 80px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* Mengatur tampilan logo */
.navbar-logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

/* Mengatur tampilan pusat navbar */
.navbar-center {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

/* Mengatur tampilan search bar */
.navbar-search {
    display: flex;
    align-items: center;
    background-color: #3b3b6d;
    border-radius: 20px;
    padding: 5px 10px;
    max-width: 600px;
    width: 100%;
    position: relative;
}

/* Mengatur input search bar */
.navbar-search input {
    border: none;
    background: none;
    color: #fff;
    outline: none;
    width: 100%;
    padding-left: 10px;
    font-size: 16px;
    border-radius: 20px;
    padding-right: 30px; /* To accommodate the search icon */
}

/* Mengatur ikon search */
.search-icon {
    position: absolute;
    right: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

/* Mengatur tampilan ikon navbar */
.navbar-icons {
    display: flex;
    align-items: center;
}

/* Mengatur tombol login */
.login-button {
    background-color: #5567FF;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 5px;
    margin-right: 20px;
}
.login-button:hover{
    background-color: #4455cc;
}

/* Mengatur ikon bendera */
.flag-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border-radius: 50%;
}

/* Mengatur tampilan tombol profil */
.profile-icon {
    background-color: #5567FF;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 5px;
    margin-right: 10px;
}

/* Mengatur tampilan tombol bahasa */
.language-button {
    background-color: #3b3b6d;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 5px;
}
