/* Mengatur tampilan dasar sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 100vh;
    padding: 20px;
    background-color: #2c2c54;
    color: #fff;
  }
  
  /* Mengatur logo sidebar */
  .sidebar-logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  /* Mengatur tampilan menu di sidebar */
  .sidebar-menu {
    flex-grow: 1;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    color: #fff;
    cursor: pointer;
    text-decoration: none; /* Menyembunyikan underline pada link */
    transition: background-color 0.3s ease;
  }
  
  .menu-item:hover {
    background-color: #3b3b6d;
    border-radius: 10px;
  }
  
  .menu-item.active {
    background-color: #6a67ce;
    border-radius: 10px;
  }
  
  .menu-item .icon {
    margin-right: 15px;
    font-size: 20px;
  }
  
  /* Mengatur tampilan footer di sidebar */
  .sidebar-footer {
    display: flex;
    align-items: center;
    padding-top: 20px;
    border-top: 1px solid #3b3b6d;
  }
  
  .gift-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  